@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');

body{
  font-family: Finlandica;
}

.navbar-brand {
    font-size: 1.5em;
    color: #205896 !important;
}
.footer{
    background-color: #F2E9E4 !important;
    color: #fff;
}

.hero-section {
    background-color: #F2E9E4;
    color: #fff;
}

.btn-primary {
    background-color: #C9BEAB;
    border-color: #C9BEAB;
}

.footer{
    background-color: #F2E9E4 !important;
    color: #fff;
}

.template-container {
    padding: 2rem 1rem; 
  }

  .template-header {
    text-align: center;
    margin-bottom: 4rem; 
  }

  .template-header h1 {
    margin-bottom: 1rem; 
  }

  .template-header a {
    color: #0d6efd; 
    text-decoration: none; 
    font-weight: bold; 
  }

  .template-header a:hover {
    text-decoration: underline; 
  }





body, html {
    height: 100%;
    margin: 0;
}


.form-container {
    width: 100%;
    max-width: 500px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}