

body{
    background: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    position: relative;
    width: 100%;
    min-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.2);

}

.canvas .left-side{
    position: relative;
    padding: 40px;
    background-image: linear-gradient(to right, #0a1c38, #002438, #00282b, #002a1a, #202a0c);
}

.canvas .right-side{
    position: relative;
    background-color: #fff;
    padding: 40px;
}

.profile{
    position: absolute;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);

}

.img{

    position: realtive;
    height: 10rem;
    width: 10rem;
}

.profile h2{
    color: #c4c3be;
    font-size: 1.5em;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile h2 span{
    font-size: 0.700em;
    font-weight: 300;
}

.skills{
    position: absolute;
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}


.contact-info{
    margin: 8rem;
    color: #c4c3be;
}

.contact-info .title{
    margin: 0.7rem;
    
}

.contact-info .text{
    
    

}

.contact-info ul{
    position: relative;
}

.contact-info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact-info ul li .icon{
    display: inline-block;
    width: 40px;
    
}

.education li{
    margin-bottom: 15px;
}

.education h5{
    color: #c4c3be;
    font-weight: 500;
}

.education h4{

    color: #c4c3be;
    font-weight: 500;
}


.about{
    margin-bottom: 50px;
}

.title2{

    color: #00282b;
    text-transform: uppercase;
    margin-bottom: 10px;

}

p{
    color: #333;

}


.about .skill-box{
    display: flex;
    flex-direction: row;
    margin:  20px 0;
}

.about .skill-box .year{
    min-width: 150px;

}

.about .skill-box .year h5{
    text-transform: uppercase;
    color: #00282b;
    font-weight: 600;
}

.about .skill-box .role{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}


.skills .skill-box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}


.skills .skill-box h4{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 500;
    
}