
.canvas {
    
   margin:0 auto;
   height: 100%;


    
    
}


.left-side{
    
    display:flex;
    width: 30%;
    float: left;
    background-color: #997905;

}

.right-side {

    display: flex;
    width:65%;
    float: right;
}






.prof-img {

    height: 6rem;
    width: 6rem;
    padding-left: 4rem;
}

.my-name {

    padding-left: 1rem;
}

