
.navbar-brand {
    font-size: 1.5em;
    color: #205896 !important;
}

.hero-section {
    background-color: #F2E9E4;
    color: #fff;
}

.btn-primary {
    background-color: #C9BEAB;
    border-color: #C9BEAB;
}


