@font-face {
    font-family: Shirkhand;
    src: url('Shrikhand-Regular.ttf');
}



.navbar-brand {
    font-size: 1.5em;
    color: #205896 !important;
}

.hero-section {
    background-color: #F2E9E4;
    color: #fff;
}

.btn-primary {
    background-color: #C9BEAB;
    border-color: #C9BEAB;
}

.footer{
    background-color: #F2E9E4 !important;
    color: #fff;
}

.template-container {
    padding: 2rem 1rem; 
  }

  .template-header {
    text-align: center;
    margin-bottom: 4rem; 
  }

  .template-header h1 {
    margin-bottom: 1rem; 
  }

  .template-header a {
    color: #0d6efd; 
    text-decoration: none; 
    font-weight: bold; 
  }

  .template-header a:hover {
    text-decoration: underline; 
  }

  .card {
    border: none;
    border-radius: 0.5rem; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }

  .card:hover {
    transform: translateY(-0.5rem); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1); 
  }

  .card a {
    text-decoration: none; 
  }

  .card a:hover {
    text-decoration: underline; 
  }

  .card-icon {
    font-size: 2rem; 
    margin-bottom: 1rem; 
  }

  .btn-template {
    background-color: #0d6efd; 
    color: white;
    padding: 0.375rem 0.75rem; 
    border-radius: 0.25rem; 
    font-size: 0.875rem; 
  }

  .btn-template:hover {
    background-color: #0b5ed7; 
    color: white; 
  }
